* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #041618; }

.container {
  padding: 0 25px; }
  @media all and (min-width: 1024px) {
    .container {
      padding: 0 158px; } }

section {
  background-color: #041618;
  position: relative; }

.arrow-up .faq--arrow {
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotate(180deg);
  transform: rotateZ(180deg); }

.answer--visible .faq--answer {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  height: inherit;
  opacity: 1; }

.menu-visible {
  -webkit-transform: translateX(0) !important;
  -moz-transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  transform: translateX(0) !important; }

.hidden {
  display: none !important; }

.hide {
  z-index: -1;
  opacity: 0; }

@media all and (min-width: 1024px) {
  .only-mobile {
    display: none; } }

.visible {
  z-index: 20 !important;
  opacity: 1 !important; }

.not-allowed {
  cursor: not-allowed !important; }

.content {
  position: relative; }

a {
  color: #6da598; }
  a.scroll {
    display: block;
    text-decoration: none; }

.frame-wrapper {
  position: relative; }
  .frame-wrapper .frame {
    position: relative;
    border: 1px solid #83bdb0; }
    .frame-wrapper .frame--little {
      width: 26px;
      height: 26px;
      position: absolute;
      top: 0;
      right: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      border-left: 1px solid #83bdb0;
      border-bottom: 1px solid #83bdb0; }
      @media all and (min-width: 1024px) {
        .frame-wrapper .frame--little {
          width: 80px;
          height: 80px; } }
      .frame-wrapper .frame--little .line {
        width: 15px;
        height: 1px;
        background-color: #83bdb0; }
        @media all and (min-width: 1024px) {
          .frame-wrapper .frame--little .line {
            width: 40px; } }
    .frame-wrapper .frame__content {
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around; }

.scroll-btn {
  width: 200px;
  margin: 0 auto;
  cursor: pointer; }
  .scroll-btn p {
    font-family: roboto-mono, monospace;
    font-size: 10px;
    text-align: center;
    color: #6da598; }
    @media all and (min-width: 1024px) {
      .scroll-btn p {
        font-size: 18px; } }
  .scroll-btn img {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    height: 14px;
    width: auto; }
    @media all and (min-width: 1024px) {
      .scroll-btn img {
        height: auto;
        margin-top: 20px; } }

img {
  width: 100%; }

@-webkit-keyframes blinking {
  50% {
    opacity: 0; } }

@-moz-keyframes blinking {
  50% {
    opacity: 0; } }

@keyframes blinking {
  50% {
    opacity: 0; } }

@-webkit-keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.blink {
  -webkit-animation: blinking 1s linear infinite;
  -moz-animation: blinking 1s linear infinite;
  animation: blinking 1s linear infinite; }

.glitch-bg {
  --color-text: #fff;
  --color-bg: #000;
  --color-link: #f9d77e;
  --color-link-hover: #fff;
  --color-info: #efc453;
  --glitch-width: 100%;
  --glitch-height: 100%;
  --gap-horizontal: 10px;
  --gap-vertical: 5px;
  --time-anim: 4s;
  --delay-anim: 2s;
  --blend-mode-1: none;
  --blend-mode-2: none;
  --blend-mode-3: none;
  --blend-mode-4: none;
  --blend-mode-5: overlay;
  --blend-color-1: transparent;
  --blend-color-2: transparent;
  --blend-color-3: transparent;
  --blend-color-4: transparent;
  --blend-color-5: $bg-color; }

.imgloaded .content__title,
.imgloaded .content__text {
  -webkit-animation-name: glitch-anim-text;
  -moz-animation-name: glitch-anim-text;
  animation-name: glitch-anim-text;
  -webkit-animation-duration: var(--time-anim);
  -moz-animation-duration: var(--time-anim);
  animation-duration: var(--time-anim);
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.content__title {
  font-size: 12vw;
  margin: 35vh 0 0 0;
  position: relative;
  font-family: 'Playfair Display', serif;
  -webkit-animation-delay: calc(var(--delay-anim) + var(--time-anim) * 0.2);
  -moz-animation-delay: -moz-calc(var(--delay-anim) + var(--time-anim) * 0.2);
  animation-delay: calc(var(--delay-anim) + var(--time-anim) * 0.2); }

.content__text {
  font-family: 'IM Fell English', serif;
  position: absolute;
  font-size: 1.5em;
  top: 4em;
  right: 10vw;
  max-width: 500px;
  text-align: right;
  font-weight: 400;
  -webkit-animation-delay: calc(var(--delay-anim) + var(--time-anim) * 0.25);
  -moz-animation-delay: -moz-calc(var(--delay-anim) + var(--time-anim) * 0.25);
  animation-delay: calc(var(--delay-anim) + var(--time-anim) * 0.25); }

@media screen and (max-width: 55em) {
  .content__text {
    position: relative;
    right: auto;
    top: auto;
    font-size: 1.25em;
    padding: 0 1em;
    text-align: center; } }

/* Glitch styles */
.glitch {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--glitch-width);
  height: var(--glitch-height);
  overflow: hidden; }

.glitch__img {
  position: absolute;
  top: -moz-calc(-1 * var(--gap-vertical));
  top: calc(-1 * var(--gap-vertical));
  left: -moz-calc(-1 * var(--gap-horizontal));
  left: calc(-1 * var(--gap-horizontal));
  width: -moz-calc(100% + var(--gap-horizontal) * 2);
  width: calc(100% + var(--gap-horizontal) * 2);
  height: -moz-calc(100% + var(--gap-vertical) * 2);
  height: calc(100% + var(--gap-vertical) * 2);
  background-image: url("../images/bg_tablet.jpg");
  background-size: cover;
  background-position: center;
  background-color: var(--blend-color-1);
  background-repeat: no-repeat;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background-blend-mode: var(--blend-mode-1); }
  @media all and (min-width: 1024px) {
    .glitch__img {
      background-size: 100%, 100%;
      background-position: inherit;
      background-image: url("../images/bg_desktop.jpg"); } }

.glitch__img:nth-child(n+2) {
  opacity: 0; }

.imgloaded .glitch__img:nth-child(n+2) {
  -webkit-animation-duration: var(--time-anim);
  -moz-animation-duration: var(--time-anim);
  animation-duration: var(--time-anim);
  -webkit-animation-delay: var(--delay-anim);
  -moz-animation-delay: var(--delay-anim);
  animation-delay: var(--delay-anim);
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.imgloaded .glitch__img:nth-child(2) {
  background-color: var(--blend-color-2);
  background-blend-mode: var(--blend-mode-2);
  -webkit-animation-name: glitch-anim-1;
  -moz-animation-name: glitch-anim-1;
  animation-name: glitch-anim-1; }

.imgloaded .glitch__img:nth-child(3) {
  background-color: var(--blend-color-3);
  background-blend-mode: var(--blend-mode-3);
  -webkit-animation-name: glitch-anim-2;
  -moz-animation-name: glitch-anim-2;
  animation-name: glitch-anim-2; }

.imgloaded .glitch__img:nth-child(4) {
  background-color: var(--blend-color-4);
  background-blend-mode: var(--blend-mode-4);
  -webkit-animation-name: glitch-anim-3;
  -moz-animation-name: glitch-anim-3;
  animation-name: glitch-anim-3; }

.imgloaded .glitch__img:nth-child(5) {
  background-color: var(--blend-color-5);
  background-blend-mode: var(--blend-mode-5);
  -webkit-animation-name: glitch-anim-flash;
  -moz-animation-name: glitch-anim-flash;
  animation-name: glitch-anim-flash; }

/* Animations */
@-webkit-keyframes glitch-anim-1 {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(var(--gap-horizontal), 0, 0);
    transform: translate3d(var(--gap-horizontal), 0, 0);
    -webkit-clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
    clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%); }
  2% {
    -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
    clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%); }
  4% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
    clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%); }
  6% {
    -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
    clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%); }
  8% {
    -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%); }
  10% {
    -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%); }
  12% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%); }
  14% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%); }
  16% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%); }
  18% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%); }
  20% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%); }
  21.9% {
    opacity: 1;
    -webkit-transform: translate3d(var(--gap-horizontal), 0, 0);
    transform: translate3d(var(--gap-horizontal), 0, 0); }
  22%, 100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0); } }
@-moz-keyframes glitch-anim-1 {
  0% {
    opacity: 1;
    -moz-transform: translate3d(var(--gap-horizontal), 0, 0);
    transform: translate3d(var(--gap-horizontal), 0, 0);
    -webkit-clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
    clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%); }
  2% {
    -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
    clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%); }
  4% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
    clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%); }
  6% {
    -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
    clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%); }
  8% {
    -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%); }
  10% {
    -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%); }
  12% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%); }
  14% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%); }
  16% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%); }
  18% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%); }
  20% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%); }
  21.9% {
    opacity: 1;
    -moz-transform: translate3d(var(--gap-horizontal), 0, 0);
    transform: translate3d(var(--gap-horizontal), 0, 0); }
  22%, 100% {
    opacity: 0;
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0); } }
@keyframes glitch-anim-1 {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(var(--gap-horizontal), 0, 0);
    -moz-transform: translate3d(var(--gap-horizontal), 0, 0);
    transform: translate3d(var(--gap-horizontal), 0, 0);
    -webkit-clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
    clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%); }
  2% {
    -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
    clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%); }
  4% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
    clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%); }
  6% {
    -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
    clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%); }
  8% {
    -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%); }
  10% {
    -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%); }
  12% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%); }
  14% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%); }
  16% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%); }
  18% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%); }
  20% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%); }
  21.9% {
    opacity: 1;
    -webkit-transform: translate3d(var(--gap-horizontal), 0, 0);
    -moz-transform: translate3d(var(--gap-horizontal), 0, 0);
    transform: translate3d(var(--gap-horizontal), 0, 0); }
  22%, 100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0); } }

@-webkit-keyframes glitch-anim-2 {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0);
    transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0);
    -webkit-clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
    clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%); }
  3% {
    -webkit-clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
    clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%); }
  5% {
    -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
    clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%); }
  7% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%); }
  9% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
    clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%); }
  11% {
    -webkit-clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
    clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%); }
  13% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%); }
  15% {
    -webkit-clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
    clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%); }
  17% {
    -webkit-clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
    clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%); }
  19% {
    -webkit-clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
    clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%); }
  20% {
    -webkit-clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
    clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%); }
  21.9% {
    opacity: 1;
    -webkit-transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0);
    transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0); }
  22%, 100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0); } }

@-moz-keyframes glitch-anim-2 {
  0% {
    opacity: 1;
    -moz-transform: translate3d(-moz-calc(-1 * var(--gap-horizontal)), 0, 0);
    transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0);
    -webkit-clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
    clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%); }
  3% {
    -webkit-clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
    clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%); }
  5% {
    -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
    clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%); }
  7% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%); }
  9% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
    clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%); }
  11% {
    -webkit-clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
    clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%); }
  13% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%); }
  15% {
    -webkit-clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
    clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%); }
  17% {
    -webkit-clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
    clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%); }
  19% {
    -webkit-clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
    clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%); }
  20% {
    -webkit-clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
    clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%); }
  21.9% {
    opacity: 1;
    -moz-transform: translate3d(-moz-calc(-1 * var(--gap-horizontal)), 0, 0);
    transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0); }
  22%, 100% {
    opacity: 0;
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0); } }

@keyframes glitch-anim-2 {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0);
    -moz-transform: translate3d(-moz-calc(-1 * var(--gap-horizontal)), 0, 0);
    transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0);
    -webkit-clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
    clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%); }
  3% {
    -webkit-clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
    clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%); }
  5% {
    -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
    clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%); }
  7% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%); }
  9% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
    clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%); }
  11% {
    -webkit-clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
    clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%); }
  13% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%); }
  15% {
    -webkit-clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
    clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%); }
  17% {
    -webkit-clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
    clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%); }
  19% {
    -webkit-clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
    clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%); }
  20% {
    -webkit-clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
    clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%); }
  21.9% {
    opacity: 1;
    -webkit-transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0);
    -moz-transform: translate3d(-moz-calc(-1 * var(--gap-horizontal)), 0, 0);
    transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0); }
  22%, 100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0); } }

@-webkit-keyframes glitch-anim-3 {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, calc(-1 * var(--gap-vertical)), 0) scale3d(-1, -1, 1);
    transform: translate3d(0, calc(-1 * var(--gap-vertical)), 0) scale3d(-1, -1, 1);
    -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
    clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%); }
  1.5% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
    clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%); }
  2% {
    -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
    clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%); }
  2.5% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%); }
  3% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
    clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%); }
  5% {
    -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
    clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%); }
  5.5% {
    -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
    clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%); }
  7% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
    clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%); }
  8% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%); }
  9% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
    clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%); }
  10.5% {
    -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
    clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%); }
  11% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
    clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%); }
  13% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
    clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%); }
  14% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
    clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%); }
  14.5% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
    clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%); }
  15% {
    -webkit-clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
    clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%); }
  16% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%); }
  18% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
    clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%); }
  20% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
    clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%); }
  21.9% {
    opacity: 1;
    -webkit-transform: translate3d(0, calc(-1 * var(--gap-vertical)), 0) scale3d(-1, -1, 1);
    transform: translate3d(0, calc(-1 * var(--gap-vertical)), 0) scale3d(-1, -1, 1); }
  22%, 100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0); } }

@-moz-keyframes glitch-anim-3 {
  0% {
    opacity: 1;
    -moz-transform: translate3d(0, -moz-calc(-1 * var(--gap-vertical)), 0) scale3d(-1, -1, 1);
    transform: translate3d(0, calc(-1 * var(--gap-vertical)), 0) scale3d(-1, -1, 1);
    -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
    clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%); }
  1.5% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
    clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%); }
  2% {
    -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
    clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%); }
  2.5% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%); }
  3% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
    clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%); }
  5% {
    -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
    clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%); }
  5.5% {
    -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
    clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%); }
  7% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
    clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%); }
  8% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%); }
  9% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
    clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%); }
  10.5% {
    -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
    clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%); }
  11% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
    clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%); }
  13% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
    clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%); }
  14% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
    clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%); }
  14.5% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
    clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%); }
  15% {
    -webkit-clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
    clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%); }
  16% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%); }
  18% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
    clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%); }
  20% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
    clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%); }
  21.9% {
    opacity: 1;
    -moz-transform: translate3d(0, -moz-calc(-1 * var(--gap-vertical)), 0) scale3d(-1, -1, 1);
    transform: translate3d(0, calc(-1 * var(--gap-vertical)), 0) scale3d(-1, -1, 1); }
  22%, 100% {
    opacity: 0;
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0); } }

@keyframes glitch-anim-3 {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, calc(-1 * var(--gap-vertical)), 0) scale3d(-1, -1, 1);
    -moz-transform: translate3d(0, -moz-calc(-1 * var(--gap-vertical)), 0) scale3d(-1, -1, 1);
    transform: translate3d(0, calc(-1 * var(--gap-vertical)), 0) scale3d(-1, -1, 1);
    -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
    clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%); }
  1.5% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
    clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%); }
  2% {
    -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
    clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%); }
  2.5% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%); }
  3% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
    clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%); }
  5% {
    -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
    clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%); }
  5.5% {
    -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
    clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%); }
  7% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
    clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%); }
  8% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%); }
  9% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
    clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%); }
  10.5% {
    -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
    clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%); }
  11% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
    clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%); }
  13% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
    clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%); }
  14% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
    clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%); }
  14.5% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
    clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%); }
  15% {
    -webkit-clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
    clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%); }
  16% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%); }
  18% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
    clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%); }
  20% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
    clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%); }
  21.9% {
    opacity: 1;
    -webkit-transform: translate3d(0, calc(-1 * var(--gap-vertical)), 0) scale3d(-1, -1, 1);
    -moz-transform: translate3d(0, -moz-calc(-1 * var(--gap-vertical)), 0) scale3d(-1, -1, 1);
    transform: translate3d(0, calc(-1 * var(--gap-vertical)), 0) scale3d(-1, -1, 1); }
  22%, 100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0); } }

@-webkit-keyframes glitch-anim-text {
  0% {
    -webkit-transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0) scale3d(-1, -1, 1);
    transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0) scale3d(-1, -1, 1);
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%); }
  2% {
    -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%); }
  4% {
    -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%); }
  5% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%); }
  6% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%); }
  7% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%); }
  8% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%); }
  9% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%); }
  9.9% {
    -webkit-transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0) scale3d(-1, -1, 1);
    transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0) scale3d(-1, -1, 1); }
  10%, 100% {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); } }

@-moz-keyframes glitch-anim-text {
  0% {
    -moz-transform: translate3d(-moz-calc(-1 * var(--gap-horizontal)), 0, 0) scale3d(-1, -1, 1);
    transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0) scale3d(-1, -1, 1);
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%); }
  2% {
    -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%); }
  4% {
    -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%); }
  5% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%); }
  6% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%); }
  7% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%); }
  8% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%); }
  9% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%); }
  9.9% {
    -moz-transform: translate3d(-moz-calc(-1 * var(--gap-horizontal)), 0, 0) scale3d(-1, -1, 1);
    transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0) scale3d(-1, -1, 1); }
  10%, 100% {
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); } }

@keyframes glitch-anim-text {
  0% {
    -webkit-transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0) scale3d(-1, -1, 1);
    -moz-transform: translate3d(-moz-calc(-1 * var(--gap-horizontal)), 0, 0) scale3d(-1, -1, 1);
    transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0) scale3d(-1, -1, 1);
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%); }
  2% {
    -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%); }
  4% {
    -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%); }
  5% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%); }
  6% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%); }
  7% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%); }
  8% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%); }
  9% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%); }
  9.9% {
    -webkit-transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0) scale3d(-1, -1, 1);
    -moz-transform: translate3d(-moz-calc(-1 * var(--gap-horizontal)), 0, 0) scale3d(-1, -1, 1);
    transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0) scale3d(-1, -1, 1); }
  10%, 100% {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); } }

/* Flash */
@-webkit-keyframes glitch-anim-flash {
  0%, 5% {
    opacity: 0.2;
    -webkit-transform: translate3d(var(--gap-horizontal), var(--gap-vertical), 0);
    transform: translate3d(var(--gap-horizontal), var(--gap-vertical), 0); }
  5.5%, 100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@-moz-keyframes glitch-anim-flash {
  0%, 5% {
    opacity: 0.2;
    -moz-transform: translate3d(var(--gap-horizontal), var(--gap-vertical), 0);
    transform: translate3d(var(--gap-horizontal), var(--gap-vertical), 0); }
  5.5%, 100% {
    opacity: 0;
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes glitch-anim-flash {
  0%, 5% {
    opacity: 0.2;
    -webkit-transform: translate3d(var(--gap-horizontal), var(--gap-vertical), 0);
    -moz-transform: translate3d(var(--gap-horizontal), var(--gap-vertical), 0);
    transform: translate3d(var(--gap-horizontal), var(--gap-vertical), 0); }
  5.5%, 100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

h1 {
  font-family: roboto-mono, monospace;
  font-weight: 700;
  font-style: normal;
  color: #739987; }
  @media all and (min-width: 1024px) {
    h1 {
      font-size: 124.5px; } }
  h1 span {
    font-weight: 300;
    color: #739987; }

h3 {
  font-family: roboto-mono, monospace;
  font-weight: 500;
  font-style: normal;
  color: #83bdb0;
  font-size: 14px;
  line-height: 1.97; }
  @media all and (min-width: 1024px) {
    h3 {
      font-size: 30px; } }

p {
  font-family: lato, monospace;
  font-weight: 500;
  font-style: normal;
  color: #d2f5ee;
  font-size: 12px;
  line-height: 1.61; }
  @media all and (min-width: 1024px) {
    p {
      font-size: 24px;
      line-height: 1.71; } }

a {
  font-family: roboto-mono, monospace;
  font-weight: 700; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-top: 12px; }
  @media all and (min-width: 1024px) {
    .header {
      padding-top: 85px; } }
  .header .logo-wrapper {
    z-index: 20;
    width: 43px; }
    @media all and (min-width: 1024px) {
      .header .logo-wrapper {
        width: auto;
        max-width: 132px; } }
    .header .logo-wrapper img {
      width: 100%; }

.menu-btn {
  width: 20px;
  height: 15px;
  margin-left: 10px;
  position: relative;
  z-index: 10; }
  .menu-btn .menu-line {
    height: 2px;
    margin: 3px 0;
    background-color: #83bdb0; }

.fixed-header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 25px; }
  @media all and (min-width: 1024px) {
    .fixed-header {
      padding: 0 158px; } }

.header-secondary {
  z-index: 21;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .header-secondary img {
    display: block;
    width: 100%; }
  .header-secondary .logo-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 70%; }
    @media all and (min-width: 1024px) {
      .header-secondary .logo-wrapper {
        width: auto; } }
    .header-secondary .logo-wrapper p {
      width: 246px;
      font-size: 6px;
      line-height: 1.38;
      letter-spacing: 1.56px;
      font-weight: 700;
      text-align: left;
      color: #739987;
      font-family: roboto-mono, monospace;
      margin-left: 16px; }
      @media all and (min-width: 1024px) {
        .header-secondary .logo-wrapper p {
          font-size: 18px;
          line-height: 24px;
          margin-left: 52px; } }
  .header-secondary .logo-arka {
    max-width: 73px;
    margin-bottom: 0; }
    @media all and (min-width: 1024px) {
      .header-secondary .logo-arka {
        max-width: 211px; } }
  .header-secondary .logo-noizz {
    max-width: 48px; }
    @media all and (min-width: 1024px) {
      .header-secondary .logo-noizz {
        max-width: 132px; } }
    .header-secondary .logo-noizz img {
      width: 100%; }

footer {
  background-color: #83bdb0;
  padding: 40px 0 32px 0; }
  @media all and (min-width: 1024px) {
    footer {
      padding: 158px 0 125px 0; } }
  footer p {
    font-family: roboto-mono, monospace;
    font-size: 18px;
    font-weight: 700;
    line-height: 2.28;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-bottom: 30px; }
    @media all and (min-width: 1024px) {
      footer p {
        margin-bottom: 0; } }
  footer .partners {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    footer .partners a {
      display: block;
      margin-right: 20px; }
      @media all and (min-width: 1024px) {
        footer .partners a {
          margin-right: 120px; } }
      footer .partners a img {
        width: 130px;
        margin-bottom: 30px; }
        @media all and (min-width: 1024px) {
          footer .partners a img {
            width: auto;
            margin-bottom: 0; } }
      footer .partners a:nth-of-type(3) img {
        width: auto;
        height: 32px; }
        @media all and (min-width: 1024px) {
          footer .partners a:nth-of-type(3) img {
            height: auto; } }

.nav {
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  background-color: #041618;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  overflow: auto; }
  @media all and (min-width: 1024px) {
    .nav {
      display: block;
      width: 320px;
      padding: 0;
      top: 50%;
      left: auto;
      right: 39px;
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      background-color: transparent;
      height: inherit;
      -webkit-transition: none;
      -moz-transition: none;
      transition: none; } }
  .nav-content a {
    text-decoration: none;
    text-align: center;
    color: #83bdb0;
    font-size: 22px;
    line-height: 1.25;
    display: block;
    margin: 70px 0;
    text-shadow: 2px 2px #041618; }
    @media all and (min-width: 1024px) {
      .nav-content a {
        margin: 29px 0;
        text-align: right; } }
  .nav-content .active {
    text-decoration: underline; }

.close-btn {
  width: 15px;
  height: 15px;
  position: relative; }
  .close-btn .close-line {
    height: 3px;
    width: 100%;
    top: 8px;
    left: 0;
    background-color: #83bdb0;
    position: absolute;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotate(45deg);
    transform: rotateZ(45deg); }
    .close-btn .close-line:last-of-type {
      -webkit-transform: rotateZ(-45deg);
      -moz-transform: rotateZ(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotateZ(-45deg); }

.nav--inner {
  height: 450px;
  margin: auto;
  padding: 30px 0; }
  @media all and (min-width: 1024px) {
    .nav--inner {
      height: inherit;
      padding: 0; } }

.head-section {
  background-image: url("../images/bg_tablet.jpg");
  padding-bottom: 37px;
  background-size: cover;
  background-position: center;
  position: relative;
  background-repeat: no-repeat; }
  .head-section .video-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    overflow-x: hidden;
    top: 0;
    left: 0; }
    @media all and (min-width: 1024px) {
      .head-section .video-wrapper {
        background-color: transparent;
        overflow-x: auto; } }
    .head-section .video-wrapper video {
      -webkit-transform: translateX(-42%);
      -moz-transform: translateX(-42%);
      -ms-transform: translateX(-42%);
      transform: translateX(-42%);
      padding: 0;
      margin: 0; }
      @media all and (min-width: 1024px) {
        .head-section .video-wrapper video {
          height: auto;
          width: 100%;
          -webkit-transform: translateX(0);
          -moz-transform: translateX(0);
          -ms-transform: translateX(0);
          transform: translateX(0); } }
  .head-section .main-video-wrapper {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .head-section .main-video-wrapper--playing {
      z-index: 50; }
    .head-section .main-video-wrapper video {
      width: 100%;
      padding: 0;
      margin: 0;
      height: 50%; }
      @media all and (min-width: 1024px) {
        .head-section .main-video-wrapper video {
          height: 100%; } }
    .head-section .main-video-wrapper .video {
      background-color: rgba(0, 0, 0, 0.8);
      position: relative;
      width: 100%;
      height: 100%; }
      .head-section .main-video-wrapper .video .close-btn-wrapper {
        position: absolute;
        z-index: 40;
        top: 30px;
        right: 30px;
        cursor: pointer; }
  @media all and (min-width: 1024px) {
    .head-section {
      background-position: inherit;
      background-size: 100%, 100%;
      background-image: url("../images/bg_desktop.jpg");
      padding-bottom: 50px; } }
  .head-section .content {
    position: relative;
    padding: 75vw 30px 0 30px; }
    @media all and (min-width: 768px) {
      .head-section .content {
        padding: 45vw 30px 0 30px; } }
    @media all and (min-width: 1024px) {
      .head-section .content {
        padding-top: 91px;
        padding-left: 0;
        padding: 91px 0 0 0; } }
    .head-section .content .play-btn-wrapper {
      position: absolute;
      z-index: 30;
      width: 80px;
      top: 37%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      cursor: pointer; }
      @media all and (min-width: 1024px) {
        .head-section .content .play-btn-wrapper {
          width: 180px; } }
      .head-section .content .play-btn-wrapper img {
        width: 100%; }
  .head-section h3 {
    text-shadow: 2px 2px #041618;
    margin-bottom: 21px;
    font-weight: 700; }
    @media all and (min-width: 1024px) {
      .head-section h3 {
        margin-bottom: 57px; } }
  .head-section .scroll-wrapper {
    margin-top: 20px; }
    @media all and (min-width: 1024px) {
      .head-section .scroll-wrapper {
        margin-top: 208px; } }

.logo-arka {
  width: 81%;
  max-width: 426px;
  margin-bottom: 20px; }
  .logo-arka img {
    width: 100%; }

.text-wrapper {
  max-width: 300px; }
  @media all and (min-width: 1024px) {
    .text-wrapper {
      max-width: 545px; } }

.line {
  background-color: #739987;
  width: 40px;
  height: 2px;
  margin: 30px 0; }

.chances {
  padding-top: 15px;
  padding-bottom: 30px; }
  @media all and (min-width: 1024px) {
    .chances {
      padding-top: 74px; } }
  .chances .scroll-wrapper {
    margin-top: 30px; }
    @media all and (min-width: 1024px) {
      .chances .scroll-wrapper {
        margin-top: 80px; } }
  .chances .frame-wrapper {
    padding-top: 85px;
    position: relative; }
    .chances .frame-wrapper .frame {
      width: 90%;
      margin: 0 auto;
      max-width: 281px;
      height: 230px; }
      @media all and (min-width: 768px) {
        .chances .frame-wrapper .frame {
          max-width: 550px; } }
      @media all and (min-width: 1024px) {
        .chances .frame-wrapper .frame {
          max-width: 1280px;
          height: 720px; } }
      .chances .frame-wrapper .frame p {
        text-align: center;
        color: #d2f5ee;
        font-size: 14px;
        opacity: 1; }
        @media all and (min-width: 1024px) {
          .chances .frame-wrapper .frame p {
            font-size: 42px; } }
      .chances .frame-wrapper .frame__content {
        padding: 0 15px; }
        @media all and (min-width: 1024px) {
          .chances .frame-wrapper .frame__content {
            padding: 0 35px; } }
        .chances .frame-wrapper .frame__content h3 {
          text-align: center;
          width: 90%;
          margin: 0 auto;
          font-size: 12px;
          color: #6da598;
          line-height: 1.4; }
          @media all and (min-width: 1024px) {
            .chances .frame-wrapper .frame__content h3 {
              font-size: 42px; } }
        .chances .frame-wrapper .frame__content--inner {
          position: relative;
          border: 1px solid #83bdb0;
          background-color: #041618;
          top: 10px;
          left: 10px; }
          @media all and (min-width: 1024px) {
            .chances .frame-wrapper .frame__content--inner {
              top: 35px;
              left: 35px; } }
      .chances .frame-wrapper .frame-chances {
        background-color: #041618; }
        .chances .frame-wrapper .frame-chances p {
          background-color: #83bdb0;
          padding: 15px 30px;
          color: white; }
          @media all and (min-width: 1024px) {
            .chances .frame-wrapper .frame-chances p {
              padding: 45px 90px; } }

#frameChances {
  margin-top: 140px; }

.rescue {
  padding-bottom: 20px; }
  @media all and (min-width: 1024px) {
    .rescue {
      padding-top: 74px;
      padding-bottom: 0; } }
  .rescue .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 45px 30px 0 30px; }
    @media all and (min-width: 768px) {
      .rescue .content {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -moz-box-orient: horizontal;
        -moz-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
    @media all and (min-width: 1024px) {
      .rescue .content {
        padding: 30px 0 0 0; } }
  .rescue .text-wrapper {
    margin-bottom: 30px; }
    @media all and (min-width: 768px) {
      .rescue .text-wrapper {
        width: 50%; } }
    @media all and (min-width: 1024px) {
      .rescue .text-wrapper {
        padding-left: 5.2%;
        margin-bottom: 0; } }
    .rescue .text-wrapper h3 {
      font-size: 14px;
      line-height: 1.75;
      width: 70%;
      margin-bottom: 30px; }
      @media all and (min-width: 1024px) {
        .rescue .text-wrapper h3 {
          max-width: 433px;
          font-size: 48px;
          line-height: 1.23;
          margin-bottom: 101px;
          width: auto; } }
    .rescue .text-wrapper p {
      font-size: 12px;
      color: #d2f5ee;
      line-height: 1.41;
      font-weight: 500; }
      @media all and (min-width: 1024px) {
        .rescue .text-wrapper p {
          font-size: 24px;
          line-height: 1.71; } }
      .rescue .text-wrapper p:first-of-type {
        margin-bottom: 30px; }
  .rescue .frame-wrapper {
    width: 90%;
    margin: 0 auto; }
    @media all and (min-width: 768px) {
      .rescue .frame-wrapper {
        width: 50%;
        margin: 0 auto; } }
    @media all and (min-width: 1024px) {
      .rescue .frame-wrapper {
        padding-right: 80px;
        padding-top: 125px; } }
    .rescue .frame-wrapper .frame {
      width: 100%;
      max-width: 253px;
      height: 213px; }
      @media all and (min-width: 1024px) {
        .rescue .frame-wrapper .frame {
          max-width: 721px;
          height: 642px; } }
      .rescue .frame-wrapper .frame--number {
        right: auto;
        left: 0;
        border-left: none;
        border-right: 1px solid #83bdb0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around; }
        .rescue .frame-wrapper .frame--number p {
          color: #83bdb0; }
      .rescue .frame-wrapper .frame-btns {
        position: absolute;
        z-index: 10;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        bottom: 0;
        right: 0;
        width: 53px;
        height: 26px;
        border-left: 1px solid #83bdb0;
        border-top: 1px solid #83bdb0;
        cursor: pointer; }
        @media all and (min-width: 1024px) {
          .rescue .frame-wrapper .frame-btns {
            width: 162px;
            height: 80px; } }
        .rescue .frame-wrapper .frame-btns .btn {
          width: 50%;
          height: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -moz-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
          justify-content: space-around; }
          .rescue .frame-wrapper .frame-btns .btn img {
            display: block;
            width: 100%;
            max-width: 9px; }
            @media all and (min-width: 1024px) {
              .rescue .frame-wrapper .frame-btns .btn img {
                max-width: 41px;
                width: auto; } }
          .rescue .frame-wrapper .frame-btns .btn--left {
            border-right: 1px solid #83bdb0; }
            .rescue .frame-wrapper .frame-btns .btn--left img {
              -webkit-transform: rotateZ(90deg);
              -moz-transform: rotateZ(90deg);
              -ms-transform: rotate(90deg);
              transform: rotateZ(90deg); }
          .rescue .frame-wrapper .frame-btns .btn--right img {
            -webkit-transform: rotateZ(-90deg);
            -moz-transform: rotateZ(-90deg);
            -ms-transform: rotate(-90deg);
            transform: rotateZ(-90deg); }
      .rescue .frame-wrapper .frame-container {
        height: 100%;
        position: relative;
        overflow: hidden; }
      .rescue .frame-wrapper .frame__content {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transition: 0.8s;
        -moz-transition: 0.8s;
        transition: 0.8s;
        padding: 30px 0;
        min-width: 100%; }
        @media all and (min-width: 1024px) {
          .rescue .frame-wrapper .frame__content {
            padding: 65px 0; } }
        .rescue .frame-wrapper .frame__content .text-wrapper {
          padding: 0;
          width: 80%;
          max-width: 374px;
          overflow: hidden;
          margin-bottom: 0; }
          .rescue .frame-wrapper .frame__content .text-wrapper p {
            font-size: 10px;
            line-height: 1.67;
            color: #6da598;
            text-align: left; }
            @media all and (min-width: 1024px) {
              .rescue .frame-wrapper .frame__content .text-wrapper p {
                font-size: 18px; } }
        .rescue .frame-wrapper .frame__content .img-wrapper {
          height: 100px;
          width: auto;
          overflow: hidden; }
          .rescue .frame-wrapper .frame__content .img-wrapper img {
            width: inherit;
            height: 100%; }
            @media all and (min-width: 1024px) {
              .rescue .frame-wrapper .frame__content .img-wrapper img {
                width: 100%;
                height: auto; } }
          @media all and (min-width: 1024px) {
            .rescue .frame-wrapper .frame__content .img-wrapper {
              height: auto; } }
  .rescue .scroll-wrapper {
    margin-top: 65px; }
    .rescue .scroll-wrapper p {
      font-size: 6px; }
    @media all and (min-width: 1024px) {
      .rescue .scroll-wrapper {
        margin-top: 82px; }
        .rescue .scroll-wrapper p {
          font-size: inherit; } }

.what-can-do {
  padding-bottom: 10px;
  padding-top: 10px; }
  @media all and (min-width: 1024px) {
    .what-can-do {
      padding-bottom: 240px; } }
  .what-can-do .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 50px; }
    @media all and (min-width: 1024px) {
      .what-can-do .content {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -moz-box-orient: horizontal;
        -moz-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        padding-top: 190px; } }
    .what-can-do .content .item {
      min-height: 215px;
      width: 90%;
      margin: 0 auto;
      max-width: 450px; }
      @media all and (min-width: 1024px) {
        .what-can-do .content .item {
          min-height: 700px;
          width: 33%;
          margin: 0;
          max-width: none; } }
      .what-can-do .content .item .frame-wrapper .frame {
        width: 100%;
        background-color: #041618;
        padding: 0 26px; }
        @media all and (min-width: 1024px) {
          .what-can-do .content .item .frame-wrapper .frame {
            min-width: 400px;
            min-height: 520px;
            padding: 0 90px 0 76px; } }
        @media all and (min-width: 1360px) {
          .what-can-do .content .item .frame-wrapper .frame {
            min-width: 450px;
            height: 550px; } }
        @media all and (min-width: 1440px) {
          .what-can-do .content .item .frame-wrapper .frame {
            min-width: 510px; } }
        @media all and (min-width: 1800px) {
          .what-can-do .content .item .frame-wrapper .frame {
            min-width: 560px;
            height: 520px; } }
        .what-can-do .content .item .frame-wrapper .frame__content {
          padding: 60px 0; }
          .what-can-do .content .item .frame-wrapper .frame__content h3 {
            font-size: 14px;
            color: #6da598;
            line-height: 1.37;
            text-align: left;
            width: 102%; }
            @media all and (min-width: 1024px) {
              .what-can-do .content .item .frame-wrapper .frame__content h3 {
                font-size: 30px; } }
          .what-can-do .content .item .frame-wrapper .frame__content p {
            font-size: 10px;
            line-height: 1.95;
            color: #d2f5ee;
            font-weight: 400;
            text-align: left;
            padding-top: 20px; }
            @media all and (min-width: 1024px) {
              .what-can-do .content .item .frame-wrapper .frame__content p {
                font-size: 21px;
                padding-top: 0; } }
            .what-can-do .content .item .frame-wrapper .frame__content p span {
              font-weight: 700;
              color: #6da598; }
              .what-can-do .content .item .frame-wrapper .frame__content p span.underline {
                text-decoration: underline; }
      .what-can-do .content .item:first-of-type .frame-wrapper {
        left: -10px; }
        .what-can-do .content .item:first-of-type .frame-wrapper h3:last-of-type {
          margin-top: 20px; }
        @media all and (min-width: 1024px) {
          .what-can-do .content .item:first-of-type .frame-wrapper {
            top: 100px;
            left: auto; } }
        @media all and (min-width: 1360px) {
          .what-can-do .content .item:first-of-type .frame-wrapper {
            left: -50px; } }
      .what-can-do .content .item:nth-of-type(2) .frame-wrapper {
        top: -30px;
        left: 15px; }
        @media all and (min-width: 1024px) {
          .what-can-do .content .item:nth-of-type(2) .frame-wrapper {
            left: 0;
            top: auto;
            z-index: 10; } }
        @media all and (min-width: 1360px) {
          .what-can-do .content .item:nth-of-type(2) .frame-wrapper {
            left: -30px; } }
        @media all and (min-width: 1800px) {
          .what-can-do .content .item:nth-of-type(2) .frame-wrapper {
            left: -110px; } }
      .what-can-do .content .item:last-of-type .frame-wrapper {
        top: -70px;
        left: -20px; }
        @media all and (min-width: 1024px) {
          .what-can-do .content .item:last-of-type .frame-wrapper {
            left: -3px;
            top: 300px; } }
        @media all and (min-width: 1360px) {
          .what-can-do .content .item:last-of-type .frame-wrapper {
            left: 10px; } }
        @media all and (min-width: 1800px) {
          .what-can-do .content .item:last-of-type .frame-wrapper {
            left: -130px; } }
  .what-can-do .scroll-wrapper {
    position: relative;
    top: -30px; }
    @media all and (min-width: 1024px) {
      .what-can-do .scroll-wrapper {
        top: 137px; } }
  .what-can-do .nav {
    top: 45%; }

.faq {
  padding-bottom: 85px;
  padding-top: 10px; }
  .faq .content {
    padding-top: 80px; }
    @media all and (min-width: 1024px) {
      .faq .content {
        padding-top: 125px; } }
  .faq-wrapper {
    border: 1px solid #83bdb0;
    width: 95%;
    max-width: 1178px;
    margin: 0 auto; }
  .faq__item {
    border-bottom: 1px solid #83bdb0;
    padding-left: 27px;
    padding-right: 11px;
    cursor: pointer; }
    @media all and (min-width: 1024px) {
      .faq__item {
        padding-left: 88px;
        padding-right: 21px; } }
    .faq__item:last-of-type {
      border-bottom: none; }
  .faq--title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 0; }
    .faq--title h3 {
      font-size: 10px; }
      @media all and (min-width: 1024px) {
        .faq--title h3 {
          font-size: inherit; } }
  .faq--arrow {
    width: 13px;
    height: 10px;
    background-image: url("../images/arrow2.png");
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: contain;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    transition: 0.4s; }
    @media all and (min-width: 1024px) {
      .faq--arrow {
        width: 31px;
        height: 30px; } }
  .faq--answer {
    height: 0;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    transition: opacity 0.5s; }
    .faq--answer p {
      font-size: 10px;
      padding-bottom: 20px; }
      @media all and (min-width: 1024px) {
        .faq--answer p {
          font-size: 21px; } }
