footer{
  background-color: #83bdb0;
  padding: 40px 0 32px 0;
  @media all and (min-width: $desktop) {
    padding: 158px 0 125px 0;
  }
  p {
    font-family: roboto-mono, monospace;
    font-size: 18px;
    font-weight: 700;
    line-height: 2.28;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin-bottom: 30px;
    @media all and (min-width: $desktop) {
      margin-bottom: 0;
    }
  }
  .partners {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    a {
      display: block;
      margin-right: 20px;
      @media all and (min-width: $desktop) {
        margin-right: 120px;
      }
      img {
        width: 130px;
        margin-bottom: 30px;
        @media all and (min-width: $desktop) {
          width: auto;
          margin-bottom: 0;
        }
      }
      &:nth-of-type(3) {
        img {
          width: auto;
          height: 32px;
          @media all and (min-width: $desktop) {
            height: auto;
          }
        }
      }
    }
  }
}