.header{
  display: flex;
  justify-content: flex-end;
  padding-top: 12px;
  @media all and (min-width: $desktop) {
    padding-top: 85px;
  }
  .logo-wrapper {
    z-index: 20;
    width: 43px;
    @media all and (min-width: $desktop) {
      width: auto;
      max-width: 132px;
    }
    img {
      width: 100%;
    }
  }
  
}

.menu-btn {
  width: 20px;
  height: 15px;
  margin-left: 10px;
  position: relative;
  z-index: 10;
  .menu-line {
    height: 2px;
    margin: 3px 0;
    background-color: #83bdb0;
  }
}

.fixed-header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 25px;
  @media all and (min-width: $desktop) {
    padding: 0 158px;
  }
}

.header-secondary {
  z-index: 21;
  top: 0;
  left: 0;
  width: 100%;
  img {
    display: block;
    width: 100%;
  }
  display: flex;
  justify-content: space-between;
  .logo-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    @media all and (min-width: $desktop) {
      width: auto;
    }
    p {
      width: 246px;
      font-size: 6px;
      line-height: 1.38;
      letter-spacing: 1.56px;
      font-weight: 700;
      text-align: left;
      color: #739987;
      font-family: roboto-mono, monospace;
      margin-left: 16px;
      @media all and (min-width: $desktop) {
        font-size: 18px;
        line-height: 24px;
        margin-left: 52px;
      }
    }
  }
  .logo-arka {
    max-width: 73px;
    margin-bottom: 0;
    @media all and (min-width: $desktop) {
      max-width: 211px;
    }
  }
  .logo-noizz {
    max-width: 48px;
    @media all and (min-width: $desktop) {
      max-width: 132px;
    }
    img {
      width: 100%;
    }
  }
}