.nav {
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 15px;
  display: flex;
  align-items: center;
  height: 100%;
  background-color: $bg-color;
  transition: 0.8s;
  transform: translateX(100%);
  overflow: auto;
  @media all and (min-width: $desktop) {
    display: block;
    width: 320px;
    padding: 0;
    top: 50%;
    left: auto;
    right: 39px;
    transform: translate(0,-50%);
    background-color: transparent;
    height: inherit;
    transition: none;
  }
  &-content {
    a {
      text-decoration: none;
      text-align: center;
      color: #83bdb0;
      font-size: 22px;
      line-height: 1.25;
      display: block;
      margin: 70px 0;
      text-shadow: 2px 2px $bg-color;
      @media all and (min-width: $desktop) {
        margin: 29px 0;
        text-align: right;
      }
    }
    .active {
      text-decoration: underline;
    }
  }
}

.close-btn {
  width: 15px;
  height: 15px;
  position: relative;
  .close-line {
    height: 3px;
    width: 100%;
    top: 8px;
    left: 0;
    background-color: #83bdb0;
    position: absolute;
    transform: rotateZ(45deg);
    &:last-of-type {
      transform: rotateZ(-45deg);
    }
  }
}

.nav--inner {
  height: 450px;
  margin: auto;
  padding: 30px 0;
  @media all and (min-width: $desktop) {
    height: inherit;
    padding: 0;
  }
}