* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $bg-color;
}
.container {
  padding: 0 25px;
  @media all and (min-width: $desktop) {
    padding: 0 158px;
  }
}

section {
  background-color: $bg-color;
  position: relative;
}

.arrow-up {
  .faq--arrow {
    transform: rotateZ(180deg);
  }
}

.answer--visible {
  .faq--answer {
    transform: scale(1);
    height: inherit;
    opacity: 1;
  }
}
.menu-visible {
  transform: translateX(0) !important;
}
.hidden {
  display: none !important;
}

.hide {
  z-index: -1;
  opacity: 0;
}

.only-mobile {
  @media all and (min-width: $desktop) {
    display: none;
  }
}

.visible {
  z-index: 20 !important;
  opacity: 1 !important;
}

.not-allowed {
  cursor: not-allowed !important;
}

.content {
  position: relative;
}

a {
  color: #6da598;
  &.scroll {
    display: block;
    text-decoration: none;
  }
}

.frame-wrapper {
  position: relative;
  .frame {
    position: relative;
    border: 1px solid #83bdb0;
    &--little {
      width: 26px;
      height: 26px;
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: space-around;
      border-left: 1px solid #83bdb0;
      border-bottom: 1px solid #83bdb0;
      @media all and (min-width: $desktop) {
        width: 80px;
        height: 80px;
      }
      .line {
        width: 15px;
        height: 1px;
        background-color: #83bdb0;
        @media all and (min-width: $desktop) {
          width: 40px;
        }
      }
    }
    &__content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
  }
}

.scroll-btn {
  width: 200px;
  margin: 0 auto;
  cursor: pointer;
  p {
    font-family: roboto-mono, monospace;
    font-size: 10px;
    text-align: center;
    color: #6da598;
    @media all and (min-width: $desktop) {
      font-size: 18px;
    }
  }
  img {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    height: 14px;
    width: auto;
    @media all and (min-width: $desktop) {
      height: auto;
      margin-top: 20px;
    }
  }
}

img {
  width: 100%;
}