h1 {
  font-family: roboto-mono, monospace;
  font-weight: 700;
  font-style: normal;
  color: #739987;

  @media all and (min-width: $desktop) {
    font-size: 124.5px;
  }

  span {
    font-weight: 300;
    color: #739987;
  }
}

h3 {
  font-family: roboto-mono, monospace;
  font-weight: 500;
  font-style: normal;
  color: #83bdb0;
  font-size: 14px;
  line-height: 1.97;
  @media all and (min-width: $desktop) {
    font-size: 30px;
  }
}

p {
  font-family: lato, monospace;
  font-weight: 500;
  font-style: normal;
  color: #d2f5ee;
  font-size: 12px;
  line-height: 1.61;
  @media all and (min-width: $desktop) {
    font-size: 24px;
    line-height: 1.71;
  }
}

a {
  font-family: roboto-mono, monospace;
  font-weight: 700;
}