.chances {
  padding-top: 15px;
  padding-bottom: 30px;
  @media all and (min-width: $desktop) {
    padding-top: 74px;
  }
  .scroll-wrapper {
    margin-top: 30px;
    @media all and (min-width: $desktop) {
      margin-top: 80px;
    }
  }
  
  .frame-wrapper {
    padding-top: 85px;
    position: relative;
    .frame {
      width: 90%;
      margin: 0 auto;
      max-width: 281px;
      height: 230px;
      @media all and (min-width: $tablet) {
        max-width: 550px;
      }
      @media all and (min-width: $desktop) {
        max-width: 1280px;
        height: 720px;
      }
      p {
        text-align: center;
        color: #d2f5ee;
        font-size: 14px;
        opacity: 1;
        @media all and (min-width: $desktop) {
          font-size: 42px;
        }
      }
      &__content {
        padding: 0 15px;
        @media all and (min-width: $desktop) {
          padding: 0 35px;
        }
        h3 {
          text-align: center;
          width: 90%;
          margin: 0 auto;
          font-size: 12px;
          color: #6da598;
          line-height: 1.4;
          @media all and (min-width: $desktop) {
            font-size: 42px;
          }
        }
        &--inner {
          position: relative;
          border: 1px solid #83bdb0;
          background-color: $bg-color;
          top: 10px;
          left: 10px;
          @media all and (min-width: $desktop) {
            top: 35px;
            left: 35px;
          }
          
        }
      }
      &-chances {
        background-color: $bg-color;

        // top: 100px;
        // left: 30px;
        // @media all and (min-width: $desktop) {
        //   top: 110px;
        //   left: 80px;
        // }
        // @media all and (min-width: $desktop-lg) {
        //   left: 190px;
        // }
        p {
          background-color: #83bdb0;
          padding: 15px 30px;
          color: white;
          @media all and (min-width: $desktop) {
            padding: 45px 90px;
          }
        }
      }
    }
  }

}


#frameChances {
  margin-top: 140px;
}
