.faq {
  padding-bottom: 85px;
  padding-top: 10px;
  .content {
    padding-top: 80px;
    @media all and (min-width: $desktop) {
      padding-top: 125px;
    }
  }
  &-wrapper {
    border: 1px solid #83bdb0;
    width: 95%;
    max-width: 1178px;
    margin: 0 auto;
  }
  &__item {
    border-bottom: 1px solid #83bdb0;
    padding-left: 27px;
    padding-right: 11px;
    cursor: pointer;
    @media all and (min-width: $desktop) {
      padding-left: 88px;
      padding-right: 21px;
    }
    &:last-of-type {
      border-bottom: none;
    }
  }
  &--title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    h3 {
      font-size: 10px;
      @media all and (min-width: $desktop) {
        font-size: inherit;
      }
    }
  }
  &--arrow {
    width: 13px;
    height: 10px;
    background-image: url('../images/arrow2.png');
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: contain;
    transition: 0.4s;
    @media all and (min-width: $desktop) {
      width: 31px;
      height: 30px;
    }
  }
  &--answer {
    height: 0;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.5s;
    p {
      font-size: 10px;
      padding-bottom: 20px;
      @media all and (min-width: $desktop) {
        font-size: 21px;
      }
    }
  }
}