.head-section {
  background-image: url('../images/bg_tablet.jpg');
  padding-bottom: 37px;
  background-size: cover;
  background-position: center;
  position: relative;
  .video-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    overflow-x: hidden;
    @media all and (min-width: $desktop) {
      background-color: transparent;
      overflow-x: auto;
    }
    top: 0;
    left: 0;
    video {
      transform: translateX(-42%);
      padding: 0;
      margin: 0;
      @media all and (min-width: $desktop) {
        height: auto;
        width: 100%;
        transform: translateX(0);
      }
    }
  }
  .main-video-wrapper {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &--playing {
      z-index: 50;
    }
    video {
      width: 100%;
      padding: 0;
      margin: 0;
      height: 50%;
      @media all and (min-width: $desktop) {
        height: 100%;
      }
    }
    .video {
      background-color: rgba(0,0,0,0.8);
      position: relative;
      width: 100%;
      height: 100%;
      .close-btn-wrapper {
        position: absolute;
        z-index: 40;
        top: 30px;
        right: 30px;
        cursor: pointer;
      }
    }
  }
  // @media all and (min-width: $tablet) {
  //   background-image: url('../images/bg_tablet.jpg');
  // }
  @media all and (min-width: $desktop) {
    background-position: inherit;
    background-size: 100%, 100%;
    background-image: url('../images/bg_desktop.jpg');
    padding-bottom: 50px;
  }
  background-repeat: no-repeat;
  .content {
    position: relative;
    padding: 75vw 30px 0 30px;
    @media all and (min-width: $tablet) {
      padding: 45vw 30px 0 30px;
    }
    @media all and (min-width: $desktop) {
      padding-top: 91px;
      padding-left: 0;
      padding: 91px 0 0 0;
    }
    .play-btn-wrapper {
      position: absolute;
      z-index: 30;
      width: 80px;
      top: 37%;
      left: 50%;
      transform: translate(-50%, -50%);
      @media all and (min-width: $desktop) {
        width: 180px;
      }
      cursor: pointer;
      img {
        width: 100%;
      }
    }
  }
  h3 {
    text-shadow: 2px 2px $bg-color;
    margin-bottom: 21px;
    font-weight: 700;
    @media all and (min-width: $desktop) {
      margin-bottom: 57px;
    }
  }
  .scroll-wrapper {
    margin-top: 20px;
    @media all and (min-width: $desktop) {
      margin-top: 208px;
    }
  }
  
}

.logo-arka {
  width: 81%;
  max-width: 426px;
 
  img {
    width: 100%;
  }
  margin-bottom: 20px;
}

.text-wrapper {
  max-width: 300px;
  @media all and (min-width: $desktop) {
    max-width: 545px;
  }
  
}

.line {
  background-color: #739987;
  width: 40px;
  height: 2px;
  margin: 30px 0;
}