.rescue {
  padding-bottom: 20px;
  @media all and (min-width: $desktop) {
    padding-top: 74px;
    padding-bottom: 0;
  }
  .content {
    display: flex;
    
    justify-content: space-between;
    flex-direction: column;
    padding: 45px 30px 0 30px;
    @media all and (min-width: $tablet) {
      flex-direction: row;
      align-items: center;
    }
    @media all and (min-width: $desktop) {
      padding: 30px 0 0 0;
      
    }
  }
  .text-wrapper {
    margin-bottom: 30px;
    @media all and (min-width: $tablet) {
      width: 50%;
    }
    @media all and (min-width: $desktop) {
      //padding-left: 84px;
      padding-left: 5.2%;
      
      margin-bottom: 0;
    }
    h3 {
      font-size: 14px;
      line-height: 1.75;
      width: 70%;
      margin-bottom: 30px;
      @media all and (min-width: $desktop) {
        max-width: 433px;
        font-size: 48px;
        line-height: 1.23;
        margin-bottom: 101px;
        width: auto;
      }
    }
    p {
      font-size: 12px;
      color: #d2f5ee;
      line-height: 1.41;
      font-weight: 500;
      @media all and (min-width: $desktop) {
        font-size: 24px;
        line-height: 1.71;
      }
      &:first-of-type {
        margin-bottom: 30px;
      }
    }
  }
  .frame-wrapper {
    width: 90%;
    margin: 0 auto;
    @media all and (min-width: $tablet) {
      width: 50%;
      margin: 0 auto;
    }
    @media all and (min-width: $desktop) {
      padding-right: 80px;
      padding-top: 125px;
    }
    .frame {
      width: 100%;
      max-width: 253px;
      height: 213px;
      @media all and (min-width: $desktop) {
        max-width: 721px;
        height: 642px;
      }
      &--number {
        right: auto;
        left: 0;
        border-left: none;
        border-right: 1px solid #83bdb0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        p {
          color: #83bdb0;
        }
      }
      &-btns {
        position: absolute;
        z-index: 10;
        display: flex;
        bottom: 0;
        right: 0;
        width: 53px;
        height: 26px;
        border-left: 1px solid #83bdb0;
        border-top: 1px solid #83bdb0;
        @media all and (min-width: $desktop) {
          width: 162px;
          height: 80px;
        }
        cursor: pointer;
        .btn {
          width: 50%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: space-around;
          img {
            display: block;
            width: 100%;
            max-width: 9px;
            @media all and (min-width: $desktop) {
              max-width: 41px;
              width: auto;
            }
          }
          &--left {
            border-right: 1px solid #83bdb0;
            img {
              transform: rotateZ(90deg);
            }
          }
          &--right {
            img {
              transform: rotateZ(-90deg);
            }
          }
        }
      }
      &-container {
        height: 100%;
        position: relative;
        overflow: hidden;
      }
      &__content {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.8s;
        padding: 30px 0;
        min-width: 100%;
        @media all and (min-width: $desktop) {
          padding: 65px 0;
        }
        .text-wrapper {
          padding: 0;
          width: 80%;
          max-width: 374px;
          overflow: hidden;
          margin-bottom: 0;
          p {
            font-size: 10px;
            line-height: 1.67;
            color: #6da598;
            text-align: left;
            
            @media all and (min-width: $desktop) {
              font-size: 18px;
            }
          }
        }
        .img-wrapper {
          height: 100px;
          width: auto;
          overflow: hidden;
          img {
            width: inherit;
            height: 100%;
            @media all and (min-width: $desktop) {
              width: 100%;
              height: auto;
            }
          }
          @media all and (min-width: $desktop) {
            height: auto;
          }
        }
      }
    }
  }
  .scroll-wrapper {
    margin-top: 65px;
    p {
      font-size: 6px;
    }
    @media all and (min-width: $desktop) {
      margin-top: 82px;
      p {
        font-size: inherit;
      }
    }
  }
}