.what-can-do {
  padding-bottom: 10px;
  padding-top: 10px;
  @media all and (min-width: $desktop) {
    padding-bottom: 240px;
  }
  .content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-top: 50px;
    @media all and (min-width: $desktop) {
      flex-direction: row;
      padding-top: 190px;
    }
    .item {
      min-height: 215px;
      width: 90%;
      margin: 0 auto;
      max-width: 450px;
      @media all and (min-width: $desktop) {
        min-height: 700px;
        width: 33%;
        margin: 0;
        max-width: none;
      }
      .frame-wrapper {
        .frame {
          width: 100%;
          background-color: $bg-color;
          padding: 0 26px;
          @media all and (min-width: $desktop) {
            min-width: 400px;
            min-height: 520px;
            padding: 0 90px 0 76px;
          }
          @media all and (min-width: $desktop-md) {
            min-width: 450px;
            height: 550px;
          }
          @media all and (min-width: 1440px) {
            min-width: 510px;
          }
          @media all and (min-width: $desktop-lg) {
            min-width: 560px;
            height: 520px;
          }
          &__content {
            padding: 60px 0;
            h3 {
              font-size: 14px;
              color: #6da598;
              line-height: 1.37;
              text-align: left;
              width: 102%;
              @media all and (min-width: $desktop) {
                font-size: 30px;
              }
            }
            p {
              font-size: 10px;
              line-height: 1.95;
              color: #d2f5ee;
              font-weight: 400;
              text-align: left;
              padding-top: 20px;
              @media all and (min-width: $desktop) {
                font-size: 21px;
                padding-top: 0;
              }
              span {
                font-weight: 700;
                color: #6da598;
                &.underline {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
      &:first-of-type {
        .frame-wrapper {
          h3 {
            &:last-of-type {
              margin-top: 20px;
            }
          }
          left: -10px;
          @media all and (min-width: $desktop) {
            top: 100px;
            left: auto;
          }
          @media all and (min-width: $desktop-md) {
            left: -50px;
          }
        }
      }
      &:nth-of-type(2) {
        .frame-wrapper {
          
          top: -30px;
          left: 15px;
          @media all and (min-width: $desktop) {
            left: 0;
            top: auto;
            z-index: 10;
          }
          @media all and (min-width: $desktop-md) {
            left: -30px;
          }
          @media all and (min-width: $desktop-lg) {
            left: -110px;

          }
        }
      }
      &:last-of-type {
        .frame-wrapper {
          top: -70px;
          left: -20px;
          @media all and (min-width: $desktop) {
            left: -3px;
            top: 300px;
          }
          @media all and (min-width: $desktop-md) {
            left: 10px;
          }
          @media all and (min-width: $desktop-lg) {
            left: -130px;
          }
        }
      }
    }
  }
  .scroll-wrapper {
    position: relative;
    top: -30px;
    @media all and (min-width: $desktop) {
      top: 137px;
    }
  }
  .nav {
    top: 45%;
  }
}